---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Slider from "../components/Slider.astro";
import Benefits from "../components/Benefits.astro";
import Description from "../components/Description.astro";
import Parallax from "../components/Parallax.astro";
import ParallaxTwo from "../components/ParallaxTwo.astro";
import Faqs from "../components/Faqs.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
<p>Sitio en construcción...</p>
</Layout>
