---
let activities = [
  {
    activity: "Formación sobre Emprendimiento e Innovación",
    description: "Formación sobre emprendimiento e innovación empresarial.",
    activitytype: "Emprendimiento e Innovación",
  },
  {
    activity: "Manufactura Avanzada e Industria 4.0",
    description:
      "Formación en técnicas y tecnologías de manufactura avanzada e Industria 4.0.",
    activitytype: "Manufactura Avanzada e Industria 4.0",
  },
  {
    activity: "Necesidades Sectoriales",
    description:
      "Formación sobre las necesidades específicas de varios sectores industriales, incluyendo Agroindustria, Construcción, Acuicultura y Manufactura.",
    activitytype: "Necesidades Sectoriales",
  },
  {
    activity: "Formación sobre Robótica Colaborativa",
    description:
      "Formación en el desarrollo y aplicación de sistemas robóticos colaborativos.",
    activitytype: "Robótica Colaborativa",
  },
  {
    activity: "Formación sobre Internet de las Cosas",
    description:
      "Formación en el ámbito del Internet de las Cosas (IoT) y su aplicación en diversos contextos.",
    activitytype: "Internet de las Cosas",
  },
  {
    activity: "Formación en Ciberseguridad",
    description:
      "Formación en técnicas y prácticas para garantizar la seguridad de sistemas informáticos y datos en línea.",
    activitytype: "Ciberseguridad",
  },
  {
    activity: "Formación en Big Data",
    description:
      "Formación en el procesamiento y análisis de grandes volúmenes de datos para obtener insights y tomar decisiones.",
    activitytype: "Big Data",
  },
  {
    activity: "Formación en Inteligencia Artificial",
    description:
      "Formación en técnicas y aplicaciones de inteligencia artificial en diversos campos.",
    activitytype: "Inteligencia Artificial",
  },
  {
    activity: "Formación en Cloud Computing",
    description:
      "Formación en la entrega de servicios de computación a través de internet, incluyendo almacenamiento, bases de datos, servidores y más.",
    activitytype: "Cloud Computing",
  },
  {
    activity: "Formación en Diseño 3D",
    description:
      "Formación en el diseño de objetos tridimensionales utilizando software especializado.",
    activitytype: "Diseño 3D",
  },
  {
    activity: "Formación en Impresión 3D",
    description:
      "Formación en técnicas de impresión tridimensional, también conocida como manufactura aditiva.",
    activitytype: "Impresión 3D",
  },
  {
    activity: "Formación en Realidad Aumentada",
    description:
      "Formación en el desarrollo y aplicación de tecnologías de realidad aumentada para crear experiencias interactivas.",
    activitytype: "Realidad Aumentada",
  },
  {
    activity: "Formación en Tecnología Móvil 5G",
    description:
      "Formación en el desarrollo y aplicación de tecnologías móviles de quinta generación (5G).",
    activitytype: "Tecnología Móvil 5G",
  },
  {
    activity: "Formación en Gemelos Digitales",
    description:
      "Formación en la creación y uso de gemelos digitales, réplicas virtuales de sistemas físicos o procesos.",
    activitytype: "Gemelos Digitales",
  },
  {
    activity: "Formación en Habilidades para la Industria 4.0",
    description:
      "Formación en habilidades necesarias para trabajar en el contexto de la Industria 4.0, como pensamiento crítico, resolución de problemas y colaboración.",
    activitytype: "Habilidades para la Industria 4.0",
  },
  {
    activity: "Formación en Modelo de Madurez para la Industria 4.0",
    description:
      "Formación en el modelo de madurez para la Industria 4.0, que evalúa la capacidad y preparación de una empresa para adoptar tecnologías y procesos asociados.",
    activitytype: "Modelo de Madurez para la Industria 4.0",
  },
  {
    activity:
      "Fortalecimiento de las Soluciones de Productos/Servicios de MA e i4.0",
    description:
      "Programa de fortalecimiento enfocado en mejorar las soluciones de productos y servicios relacionados con la Manufactura Avanzada e Industria 4.0.",
    activitytype:
      "Fortalecimiento de las Soluciones de Productos/Servicios de MA e i4.0",
  },
  {
    activity:
      "Fortalecimiento de las Soluciones de Productos/Servicios de MA e i4.0",
    description:
      "Programa de fortalecimiento enfocado en mejorar las soluciones de productos y servicios relacionados con la Manufactura Avanzada e Industria 4.0.",
    activitytype:
      "Fortalecimiento de las Soluciones de Productos/Servicios de MA e i4.0",
  },
  {
    activity: "Construción de Pitch",
    description:
      "Actividad formativa centrada en la creación de presentaciones breves y convincentes para comunicar proyectos o ideas de negocio.",
    activitytype: "Construción de Pitch",
  },
  {
    activity:
      "Presentación de Pitch de los Proyectos a las Empresas de la Región (matching)",
    description:
      "Actividad que involucra la presentación de proyectos o ideas de negocio a empresas de la región con el objetivo de buscar oportunidades de colaboración o inversión.",
    activitytype:
      "Presentación de Pitch de los Proyectos a las Empresas de la Región (matching)",
  },
];

let start = 1;
---

<section class="section" id="actividades">
  <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
    <div>
      <p class="sectiontitle">Actividades</p>
    </div>
    <h2
      class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto"
    >
      <span class="relative inline-block">
        <span class="relative">Actividades</span>
      </span>
      Viraliza 2024
    </h2>
    <p class="text-base text-gray-700 md:text-lg">
      Conoce las actividades que se llevarán a cabo en Viraliza Los Lagos 2024.
    </p>
  </div>

  <div class="grid gap-5 row-gap-5 mb-8 lg:grid-cols-4 sm:grid-cols-2">
    {
      activities.map((data) => (
        <span class="activity">
          <div class="flex flex-col h-full">
            <div class="flex-grow border  rounded-b">
              <div class="p-5">
                <p class="mb-2 font-semibold leading-5">
                  {" "}
                  {start++}. {data.activity}
                </p>
                <p class="text-sm text-gray-900">{data.description}</p>
              </div>
            </div>
          </div>
        </span>
      ))
    }
  </div>
</section>

<style lang="scss">
  .activity {
    @apply inline-block overflow-hidden duration-300 transform bg-white rounded shadow-sm hover:-translate-y-2;
  }

  .activity img {
    @apply object-cover w-full h-48;
  }
</style>
