<section id="desafios" class="relative flex flex-col items-center justify-center h-screen">
  <!-- Div para oscurecer la imagen de fondo --

  <!-- Contenido de la sección, por encima de la superposición -->
<div class="grid grid-cols-4 gap-x-4   ">
   

   <div class=" col-span-4 ">
      <h2 class=" text-3xl font-bold mb-3 text-blue" >¿Cuál es el desafío de la región de Los Lagos?</h2>
    <p>A) Desafío Evitar decrecimiento de manufactura (como % PIB regional).</p>
    <p>B) Asegurar y Mantener el Crecimiento de la Manufactura con MA (como % del PIB regional).</p>
</div>


<div class=" col-span-4 "><h2 class=" text-3xl font-bold mb-3 text-blue">Desafíos que aborda el proyecto</h2>
<p>A) Insfraestructura Digital.</p>
<p>B) Talento Digital.</p>
<p>C) Transformación de Sectores estrategicos.</p>
<p>D) Adopción digital en Pymes.</p>
</div>


<div class=" col-span-4 "><h2 class=" text-3xl font-bold mb-3 text-blue">Principales Brechas que aborda el proyecto</h2>
<p>B1 - Limitadas competencias e incentivos de empresas tractoras para adoptar manufactura avanzada.</p>
<p> B2 - Escaso conocimiento de Manufactura avanzada y sus potencialidades.</p>
<p> B3 - Poca Información de Manufactura Avanzada en la región de Los Lagos.</p>
</div>


</section>
