<!-- Contenedor principal con altura de pantalla completa y fondo con efecto parallax -->


<section id="descripcion" class="relative flex flex-col items-center justify-center h-screen">


  <!-- Contenido de la sección, por encima de la superposición -->
  <div class="grid grid-cols-4 gap-x-4 z-10 px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div class="p-4 col-span-4 ">
      <h2
      class=" text-blue py-4 text-3xl font-bold ">Qué es Nuevo Los Lagos </h2>
    <p > El proyecto "Nuevo Los Lagos", actualmente en desarrollo, es una colaboración entre la Universidad Santo Tomás, Asimet y Grupo Centinela, con financiamiento de Corfo Los Lagos. Esta plataforma web, concebida como un <strong>bien público</strong>, está diseñada para transformarse en un recurso esencial para la región con las siguientes características:</p>
      

      <p class="mt-5"><strong>A) Educación y Actualización Profesional:</strong> La plataforma ofrecerá una selección de cursos especializados destinados a satisfacer las necesidades de la industria y la manufactura, facilitando el acceso a formación continua y de calidad para profesionales y técnicos del área.</p>

      <p class="mt-5"><strong>B) Buscador de Proveedores Basado en IA:</strong> Incorporará un sistema de búsqueda inteligente para conectar empresas con proveedores, optimizando la cadena de suministro regional mediante el uso de tecnologías de inteligencia artificial.</p>
      
      <p class="mt-5">"Nuevo Los Lagos" se perfila como una herramienta clave en el fortalecimiento de la infraestructura industrial y profesional de la región, promoviendo el desarrollo económico y la innovación.</p>
    </div>
  </div>
</section>
<style>
  .text-blue {
    color: #2b6cb0;
    font-weight: 700;
  }
</style>