---
import { Image } from "astro:assets";
import Event from "/src/assets/industria.jpg";
---

<section id="descripcion" class="section">
  <div class="grid gap-12 row-gap-8 lg:grid-cols-2">
    <div class="flex flex-col justify-center">
      <div class="max-w-xl mb-6">
        <h2
          class="max-w-lg mb-6 font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none"
        >
        Qué es 
          <span class="inline-block text-deep-purple-accent-400"
            >Nuevo Los Lagos</span >
        </h2>
        <p > El proyecto "Nuevo Los Lagos", actualmente en desarrollo, es una colaboración entre la Universidad Santo Tomás, Asimet y Grupo Centinela, con financiamiento de Corfo Los Lagos. Esta plataforma web, concebida como un <strong>bien público</strong>, está diseñada para transformarse en un recurso esencial para la región con las siguientes características:</p>
          
   
          <p class="mt-5"><strong>A) Educación y Actualización Profesional:</strong> La plataforma ofrecerá una selección de cursos especializados destinados a satisfacer las necesidades de la industria y la manufactura, facilitando el acceso a formación continua y de calidad para profesionales y técnicos del área.</p>
    
          <p class="mt-5"><strong>B) Buscador de Proveedores Basado en IA:</strong> Incorporará un sistema de búsqueda inteligente para conectar empresas con proveedores, optimizando la cadena de suministro regional mediante el uso de tecnologías de inteligencia artificial.</p>
          
          <p class="mt-5">"Nuevo Los Lagos" se perfila como una herramienta clave en el fortalecimiento de la infraestructura industrial y profesional de la región, promoviendo el desarrollo económico y la innovación.</p>
  
      </div>
    </div>
    <div>
      <Image
        src={Event}
        alt="Event"
        class="object-cover w-full h-56 rounded sm:h-96"
        quality="50"
      />
    </div>
  </div>
</section>

<section class="section">
  <div class="grid gap-10 row-gap-8 lg:grid-cols-6">
    <div class="lg:col-span-3 bg-my p-4">
      <div class="mb-3">
        <a
          href="/"
          aria-label="Article"
          class="inline-block text-black transition-colors duration-200 hover:text-deep-purple-accent-400"
        >
          <p
            class="font-sans text-xl font-extrabold leading-none tracking-tight lg:text-4xl xl:text-5xl"
          >
            Objetivos 
          </p>
        </a>
      </div>
      <p class="mb-4 text-base text-gray-700 md:text-lg">
       
        Los objetivos específicos de NuevoLosLagos.org incluyen la creación de herramientas de gestión avanzada, la sistematización de información relevante para la toma de decisiones y el desarrollo de programas educativos que preparen a las futuras generaciones en tecnologías emergentes. <br />
      </p>
      <span class="mt-3">
        Se emplea la inteligencia artificial para optimizar las conexiones entre empresas y proveedores, maximizando la eficiencia y el desarrollo de capacidades locales. Al final, la plataforma no solo busca ser un catalizador de innovación, sino también posicionar a la Región de Los Lagos como un referente en manufactura avanzada y tecnología de vanguardia a nivel nacional e internacional.</span
      >
    </div>

    <div class="flex flex-col space-y-8 lg:col-span-3">
      <div>
        <div class="mb-3">
          <a
            href="/"
            aria-label="Article"
            class="inline-block text-black transition-colors duration-200 hover:text-deep-purple-accent-400"
          >
            <p
              class="font-sans text-xl font-extrabold leading-none tracking-tight lg:text-2xl"
            >
              Buscador potenciado por IA
            </p>
          </a>
        </div>
        <p class="mb-4 text-base text-gray-700 md:text-lg">
          El proyecto también destacará por su buscador avanzado de proveedores, potenciado por tecnología de inteligencia artificial, que facilitará a las empresas la búsqueda y selección de proveedores adecuados para sus necesidades, optimizando así la cadena de suministro regional. 
        </p>
      </div>
      <div>
        <div class="mb-3">
          <a
            href="/"
            aria-label="Article"
            class="inline-block text-black transition-colors duration-200 hover:text-deep-purple-accent-400"
          >
            <p
              class="font-sans text-xl font-extrabold leading-none tracking-tight lg:text-2xl"
            >
              Áreas temáticas
            </p>
          </a>
        </div>
        <p class="mb-4 text-base text-gray-700 md:text-lg">
          El programa "Viraliza Los Lagos" se enfoca en una amplia gama de
          temáticas relacionadas con el emprendimiento, la innovación y el
          desarrollo tecnológico. Desde el impulso de nuevas empresas hasta la
          adopción de tecnologías de vanguardia en la industria.
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  .bg-my {
    background-color: #a5ebdd;
  }
</style>
