---
let questions = [
  {
    question:
      "¿Es necesario contar con una idea o proyecto en curso relacionado con la manufactura o la industria para participar en el programa Viraliza Los Lagos?",
    answer:
      "Sí, es necesario contar con una idea o proyecto en curso relacionado con la manufactura o la industria para participar en el programa Viraliza Los Lagos.",
  },

  {
    question:
      "¿Cuál es el perfil requerido para participar como persona natural en el programa?",
    answer:
      "El perfil requerido incluye ser mayor de 18 años y tener una idea de negocio o un negocio en funcionamiento relacionado con oportunidades de manufactura avanzada e Industria 4.0.",
  },
  {
    question:
      "¿Cuáles son los requisitos para que una persona jurídica pueda ser representada y participar en el programa?",
    answer:
      "La persona jurídica debe tener ventas inferiores a 24.000 UF y una antigüedad menor a 36 meses, además de tener su domicilio en la Región de Los Lagos.",
  },
  {
    question: "¿Cuál es la edad mínima para participar en el programa?",
    answer: "La edad mínima para participar en el programa es de 18 años.",
  },
  {
    question:
      "¿Hay algún requisito específico relacionado con la ubicación geográfica de los participantes?",
    answer:
      "Sí, los participantes deben tener domicilio en la Región de Los Lagos.",
  },
  {
    question:
      "¿Es necesario tener experiencia previa en emprendimiento o tecnología para inscribirse en el programa?",
    answer:
      "No es necesario tener experiencia previa en emprendimiento o tecnología para participar en el programa, sin embargo, se requiere contar con una idea de negocio o un negocio en funcionamiento relacionado con oportunidades de manufactura avanzada e Industria 4.0.",
  },
];
---

<section class="section" id="faqs">
  <div class="max-w-xl sm:mx-auto lg:max-w-2xl">
    <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
      <div>
        <p class="sectiontitle">FAQS</p>
      </div>
      <h2
        class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto"
      >
        <span class="relative inline-block">
          <span class="relative">Preguntas</span>
        </span>
        Frecuentes
      </h2>
      <p class="text-base text-gray-700 md:text-lg">
        Aquí encontrarás las respuestas a las preguntas más frecuentes sobre el
        programa Viraliza Los Lagos 2024.
      </p>
    </div>
  </div>
  <div class="max-w-screen-xl sm:mx-auto">
    <div class="grid grid-cols-1 gap-16 row-gap-8 lg:grid-cols-2">
      {
        questions.map((data) => (
          <div class="space-y-8">
            <div>
              <p class="mb-4 text-xl font-medium">{data.question}</p>
              <p class="text-gray-700">{data.answer}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
