---
import { Image } from "astro:assets";
import CORFO from "../assets/corfo.webp";
import UST from "../assets/santotomas.webp";
import CENTINELA from "../assets/grupocentinela.webp";
import ASIMET from "../assets/asimet.webp";

let Images = [ UST,ASIMET, CENTINELA,CORFO];
---
<div class="footer-container">
  <button class="w-full p-3 b footer">

    <div
    class="grid gap-5 mx-auto sm:grid-cols-2 lg:grid-cols-4 lg:max-w-screen-lg py-5"
  >
    {
      Images.map((image, index) => (
        <div class="logo" key={index}>
          <div class="logoint">
            <Image width="241" height="77" src={image} alt="logo corfo" />
          </div>
        </div>
      ))
    }
  </div>
  </button>
</div>

<style>
  .bg-white {
    background-color: #fff !important;
    z-index: 1000;
  }

  /* Estilos por defecto para móviles */
.footer-container {
  position: relative; /* No fijo */
  width: 100%; /* Asumiendo que quieres que ocupe todo el ancho */
  bottom: 0;
  background-color: #fff; /* Fondo blanco */
  z-index: 1000; /* Asegura que el footer esté encima de otros elementos */
}

/* Estilos para pantallas mayores a 768px */
@media (min-width: 768px) {
  .footer-container {
    position: fixed; /* Footer fijo */
  }
}

</style>

   
 