<section class="bg-deep-purple-accent-400">
  <div
    class="px-4 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 text-white"
  >
    <div class="flex flex-col-reverse justify-between pt-5 pb-5 lg:flex-row">
      <p class="">© Copyright 2024 - Grupo Centinela</p>
    </div>
  </div>
</section>
