<section
  class="fixed top-0 left-0 right-0 z-50 bg-white py-5 mx-auto sm:max-w-xl md:max-w-full lg:max-w-full"
>
  <div
    class="relative flex items-center justify-between mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-22"
  >
    <span class="inline-flex items-center">
      <!--?xml version="1.0" encoding="UTF-8"?-->

      <span class="ml-2 text-2xl font-bold tracking-wide text-gray-800"
        >VIRALIZA</span
      >
    </span>

    <ul class="flex items-center hidden space-x-8 lg:flex">
      <li><a href="#inicio" class="linknavbar">Inicio</a></li>

      <li><a href="#descripcion" class="linknavbar">Descripción</a></li>

      <li><a href="#beneficios" class="linknavbar">Beneficios</a></li>

      <li><a href="#novedades" class="linknavbar">Novedades</a></li>

      <li><a href="#expositores" class="linknavbar">Expositores</a></li>

      <li><a href="#actividades" class="linknavbar">Actividades</a></li>

      <li><a href="#faqs" class="linknavbar">Preguntas Frecuentes</a></li>
    </ul>
  </div>
</section>

<style lang="scss">
  .linknavbar {
    @apply font-medium tracking-wide text-gray-700 transition-colors duration-200 hover:text-deep-purple-accent-400;
  }
</style>
