<section id="novedades" class="section">
  <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
    <div>
      <p class="sectiontitle">Novedades</p>
    </div>
    <h2
      class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto"
    >
      Viraliza 2024
    </h2>
    <p class="text-base text-gray-700 md:text-lg">
      Descubre las últimas noticias sobre Viraliza Los Lagos 2024.
    </p>
  </div>
  <div class="mb-10 border-t border-b divide-y">
    <div class="grid py-8 sm:grid-cols-4">
      <div class="mb-4 sm:mb-0">
        <div class="space-y-1 text-xs font-semibold tracking-wide uppercase">
          <a
            href="/"
            class="transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800"
            aria-label="Category">Novedades</a
          >
          <p class="text-gray-600">15 de MARZO 2024</p>
        </div>
      </div>
      <div class="sm:col-span-3 lg:col-span-2">
        <div class="mb-3">
          <a
            href="/"
            aria-label="Article"
            class="inline-block text-black transition-colors duration-200 hover:text-deep-purple-accent-700"
          >
            <p
              class="text-3xl font-extrabold leading-none sm:text-4xl xl:text-4xl"
            >
              Período de preinscripción
            </p>
          </a>
        </div>
        <p class="text-gray-700">
          El período de preinscripción para Viraliza Los Lagos 2024 ha dado
          inicio. Puedes completar tu pre inscripción utilizando el formulario
          ubicado al principio de la página.
        </p>
      </div>
    </div>
  </div>
</section>
