<!-- Contenedor principal con altura de pantalla completa y fondo con efecto parallax -->


<section id="objetivos" class="relative flex flex-col items-center justify-center h-screen">
  <!-- Div para oscurecer la imagen de fondo -->


  <!-- Contenido de la sección, por encima de la superposición -->
  <div class="grid grid-cols-4 gap-x-4 z-10 px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div class="p-4 col-span-4 ">
      <h2
      class="text-blue max-w-lg mb-6 font-sans text-3xl font-bold tracking-tight  sm:text-4xl sm:leading-none">Objetivos
    </h2>
    <p><strong>General</strong></p>
    <p >La convocatoria tiene por objetivo apoyar iniciativas que contribuyan a propiciar el desarrollo y/o
      fortalecimiento en la región del sector manufactura avanzada, a través del desarrollo de bienes públicos que
      aborden una o más brechas identificadas, lo que contribuirá a resolver fallas de mercado, con la finalidad de
      fortalecer la competitividad, diversificar la economía y/o aumentar la productividad en la Región de Los Lagos.</p>
      

      <p>Especificos:</p>
      <p class="mt-5"><strong>A) Desarrollar un bien público </strong>que permita crear y/o mejorar las condiciones del entorno para la mejora
        competitiva de los sectores productivos de la Región de Los Lagos en el marco de la manufactura avanzada, a
        través de la generación de plataformas de gestión, generación de normas, metodologías y/o herramientas de
        aplicación productiva, y el levantamiento y sistematización de información relevante que apoye la toma de
        decisiones, que mejore la coordinación público-privada.</p>

      <p class="mt-5"><strong>B) Fortalecer capacidades </strong>y programas de educación en el ámbito de la manufactura avanzada</p>
      
      <p class="mt-5"><strong>C) Fortalecer la Institucionalidad, gobernanza,</strong> y la organización y coordinación intersectorial, y a nivel de servicios
        públicos, en el ámbito de la manufactura avanzada.</p>
    </div>
  </div>
</section>
