<!-- Contenedor principal con altura de pantalla completa y fondo con efecto parallax -->


<section id="organizacion" class="relative flex flex-col items-center justify-center h-screen">
  <!-- Div para oscurecer la imagen de fondo -->


  <!-- Contenido de la secci칩n, por encima de la superposici칩n -->
  <div class="grid grid-cols-3 gap-x-4 z-10 px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div class="p-4 col-span-3 ">
      <h2
      class="max-w-lg mb-6 font-sans text-3xl font-bold tracking-tight  sm:text-4xl sm:leading-none text-blue"
    
      
        >Organizaci칩n
    </h2>
  </div>

  <div class="p-4 col-span-1 border text-xl"><strong>ASIMET</strong><br> Mandante:
    Entidad interesada en el desarrollo del proyecto, que tiene
    como rol supervisar el funcionamiento del mismo.</div>
  <div class="p-4 col-span-1 border  text-xl"><strong>Universidad Santo Tomas</strong><br>Beneficiario:
    Es la entidad que presenta el proyecto y es responsable
    del subsidio a recibir.</div>
  <div class="p-4 col-span-1 border  text-xl"><strong>Grupo Centinela</strong><br>Co-ejecutor:
    Es una entidad que cuenta con experiencia en la tem치tica
    del programa.</div>

 
  </div>
</section>
