---
import { Image } from "astro:assets";
import CORFO from "../assets/corfo.webp";
import UST from "../assets/santotomas.webp";
import CENTINELA from "../assets/grupocentinela.webp";

let Images = [CORFO, UST];
---

<div class="bg-my">
  <section class="">
    <div class="mx-auto mb-10 lg:max-w-xl sm:text-center">
   


    </div>
  
  </section>
</div>

<style lang="scss">
  .logo {
    @apply col-span-1 lg:col-span-1;
  }

  .logoint {
    @apply pb-5 mb-4 relative;
  }

  .bg-my {
    background-color: #a5ebdd !important; 
  }
</style>
