<!-- Contenedor principal con altura de pantalla completa y fondo con efecto parallax -->


<section id="inicio" class="relative flex flex-col items-center justify-center h-screen ">



  <!-- Contenido de la sección, por encima de la superposición -->
  <div class=" grid grid-cols-4 gap-x-4 z-10 px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div class="p-4 col-span-4 text-center">
      <h2 class="text-4xl ">Plataforma Inteligente Nuevo Los Lagos<br>Fortalecimiento del ecosistema de <span class="text-blue">Manufactura Avanzada e i4.0</span></h2>
    </div>


    <div class="block sm:hidden text-center col-span-4 mt-2">
      <a class="p-3 bg-orange-500" href="brochure.pdf" >Descargar Brochure</a>
    </div>
    

   

  </div>
</section>


<style>
  .text-blue {
    color: #2b6cb0;
    font-weight: 700;
  }
</style>