<!-- Contenedor principal con altura de pantalla completa y fondo con efecto parallax -->
<section
  id="componentes"
  class="relative flex flex-col items-center justify-center h-screen"
>
  <!-- Div para oscurecer la imagen de fondo -->

  <!-- Contenido de la sección, por encima de la superposición -->
  <div
    class="grid grid-cols-5 gap-x-4 z-10 px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
  >
    <div class="col-span-5">
      <h2
        class="max-w-lg mb-6 font-sans text-3xl font-bold tracking-tight sm:text-4xl sm:leading-none text-blue"
      >
        Componentes
      </h2>
    </div>

    <div class="col-span-5">

      <p class="mb-3">
        <strong>A) Situación Actualecosistema MA ei4.0</strong>: 
        Levantamiento de la situación actual del Ecosistema de MA e i4.0 y oportunidades
        disponibles.
      </p>

      <p class="mb-3">
        <strong>B) Modelo de Madurez MA e i4.0</strong>: 
        Construcción de Modelo de Madurez/Diagnóstico personalizados para empresas
        de la region de Los Lagos y sus sectores industrials que mide estado de Desarrollo
        en MA y/o i4.0.
      </p>

      <p class="mb-3">
        <strong>C) Modelo de Caracterización Proveedores MA e i4.0</strong>: 
        Modelo de Caracterización de Proveedores regionales y no regionales de MA
        e i4.0 para vinculación con empresas de la region de Los Lagos.
      </p>

      <p class="mb-3">
        <strong>D) Cursos deFormación MA e i4.0 en Red</strong>: 
        Identificar, recopilar y linkear cursos en la Red, de pago y sin pago, segmentados
        por temáticas de MA e i4.0 en función de las necesidades de las empresas
        de la region de Los Lagos.
      </p>

      <p class="mb-3">
        <strong
          >E) VinculaciónEmpresa – Proveedor basada en Inteligencia Artificial</strong
        >: 
        Mediante algoritmos de Inteligencia Artificial se vincularán las necesidades
        de empresa del C2, con proveedores del C3, que atienden sus necesidades y
        recomienda cursos de formación del C4.
      </p>
    </div>
  </div>
</section>
