<!doctype html>
<html lang="es">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <title>Nuevo Los Lagos</title>
    <meta
      name="description"
      content="Plataforma integral destinada a transformar la industria de la región mediante la unificación de formación especializada, actualidad industrial y un potente buscador de proveedores basado en IA."
    />
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EFXP43570X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-EFXP43570X');
</script>
  </head>
  <body>
    <slot />
  </body>
</html>

<!-- Global Styles -->

<style lang="scss" global>
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply pt-20;
  }

  .section {
    @apply px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20;
  }
  .sectiontitle {
    @apply inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-teal-900 uppercase rounded-full bg-teal-accent-400;
  }


  .text-blue {
    color: #2b6cb0;
    font-weight: 700;
  }

</style>

